[Desktop Entry]
Encoding=UTF-8
Name=Link to A guide to asynchronous programming in Python with asyncio
Type=Link
URL=https://medium.freecodecamp.org/a-guide-to-asynchronous-programming-in-python-with-asyncio-232e2afa44f6
Icon=text-html
