[Desktop Entry]
Encoding=UTF-8
Name=Link to Asynchronous Programming in Python for Web Scraping
Type=Link
URL=https://www.datascience.com/blog/asynchronous-programming-for-web-scraping
Icon=text-html
