[Desktop Entry]
Encoding=UTF-8
Name=Link to python Implementing asynchronous - Google Search
Type=Link
URL=https://www.google.com/search?client=ubuntu&channel=fs&q=python+Implementing+asynchronous&ie=utf-8&oe=utf-8
Icon=text-html
