[Desktop Entry]
Encoding=UTF-8
Name=Link to caihaoyu/sner: The Python interface to the Stanford Named Entity Recognizer Server.
Type=Link
URL=https://github.com/caihaoyu/sner
Icon=text-html
